

<div class="container-fluid">


    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total Sessions</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">20</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Average Score</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">88%</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Trainers
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">5</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Companies</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Formation</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Total Costs <span class="float-right">$15,000</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Average Cost per Session<span class="float-right">$750</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Highest Cost Session<span class="float-right">$2,500</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Lowest Cost Session<span class="float-right">$500</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <!-- <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="..."> -->
                    </div>
                    <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                        constantly updated collection of beautiful svg images that you can use
                        completely free and without attribution!</p>
                    <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                        unDraw →</a>
                </div>
            </div>

            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                </div>
                <div class="card-body">
                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                        CSS bloat and poor page performance. Custom CSS classes are used to create
                        custom components and custom utility classes.</p>
                    <p class="mb-0">Before working with this theme, you should become familiar with the
                        Bootstrap framework, especially the utility classes.</p>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- <div class="grid">

    <div class="admin-dashboard col-12" *ngIf="isAdmin">
        <h3>Admin Dashboard</h3>

        <div class="card mb-4">
            <h3>Training Summary</h3>
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Total Sessions: 20</span
                    >
                    <div class="text-900 font-medium text-xl">
                        Average Score: 88%
                    </div>
                </div>
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Trainers: 5</span
                    >
                    <div class="text-900 font-medium text-xl">
                        Companies: 10
                    </div>
                </div>
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Total Costs: $15,000</span
                    >
                </div>
            </div>
        </div>

        <div class="card mb-0">
            <h3>Quick Links</h3>
            <div class="flex flex-wrap gap-3">
                <a routerLink="/dashboard/sessions" class="text-blue-500"
                    >Manage Sessions</a
                >
                <a routerLink="/dashboard/trainer" class="text-blue-500"
                    >Manage Trainers</a
                >
                <a routerLink="/dashboard/companies" class="text-blue-500"
                    >Manage Companies</a
                >
                <a routerLink="/dashboard/costs" class="text-blue-500"
                    >Manage Costs</a
                >
                <a routerLink="/dashboard/evaluation" class="text-blue-500"
                    >Manage Evaluation</a
                >
                <a
                    routerLink="/dashboard/training-registration"
                    class="text-blue-500"
                    >Manage Registration</a
                >
                <a routerLink="/dashboard/participant" class="text-blue-500"
                    >Manage Participants</a
                >
            </div>
        </div>

        <div class="card mb-4 mt-4">
            <h3>Top Trainers List</h3>
            <ul>
                <li>Trainer 1</li>
                <li>Trainer 2</li>
                <li>Trainer 3</li>
            </ul>
        </div>


        <div class="card mb-4">
            <h3>Top Companies</h3>
            <ul>
                <li>Company A</li>
                <li>Company B</li>
                <li>Company C</li>
            </ul>
        </div>


        <div class="card mb-0">
            <h3>Costs</h3>
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Total Costs: $15,000</span
                    >
                    <div class="text-900 font-medium text-xl">
                        Average Cost per Session: $750
                    </div>
                </div>
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Highest Cost Session: $2,500</span
                    >
                    <div class="text-900 font-medium text-xl">
                        Lowest Cost Session: $500
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="participant-dashboard col-12" *ngIf="isParticipant">
        <h3>Welcome, {{user.username}}!</h3>


        <div class="dashboard-steps">

            <div class="card">
                <h4>Step 1: Access to the Homepage</h4>
                <p>
                    Visit the public homepage to explore available training
                    sessions.
                </p>
                <a href="/homepage" class="btn btn-primary">Go to Homepage</a>
            </div>

            <div class="card">
                <h4>Step 2: Selection of a Training Session</h4>
                <p>
                    Find a training session of interest and click on it to
                    access more details.
                </p>
                <a href="/training-session-details" class="btn btn-primary"
                    >View Training Session</a
                >
            </div>

            <div class="card">
                <h4>Step 3: Registration Form</h4>
                <p>
                    Fill out the registration form to secure your spot in the
                    training session.
                </p>
                <a href="/registration-form" class="btn btn-primary"
                    >Complete Registration</a
                >
            </div>

            <div class="card">
                <h4>Step 4: Receipt of Confirmation</h4>
                <p>
                    Check your email for a confirmation with details about the
                    training session.
                </p>

            </div>

            <div class="card">
                <h4>Step 5: Participation in the Training Session</h4>
                <p>
                    On the scheduled date, attend the training session and
                    follow the course delivered by the trainer.
                </p>
            </div>

            <div class="card">
                <h4>Step 6: Receipt of Evaluation Link</h4>
                <p>
                    After the training session, check your email for an
                    evaluation link.
                </p>
                <a href="/evaluation-form" class="btn btn-primary"
                    >Complete Evaluation</a
                >
            </div>

            <div class="card">
                <h4>Step 7: Completion of the Evaluation Form</h4>
                <p>
                    Provide ratings and comments on the trainer's performance.
                </p>

            </div>

            <div class="card">
                <h4>Step 8: Return to the Homepage</h4>
                <p>
                    After completing the evaluation, return to the homepage to
                    explore other training sessions.
                </p>
                <a href="/homepage" class="btn btn-primary">Back to Homepage</a>
            </div>
        </div>
    </div>
</div> -->
