<!-- show-company.component.html -->

<div class="container" class="w-full surface-card py-8 px-5 sm:px-8">
    <div class="panel panel-default">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium m-3">
                <h1>Demande Participant</h1>
            </div>
        </div>
        <!-- <div class="panel-heading mb-2">
            <button type="button" pButton pRipple label="New Registration"
                routerLink="/dashboard/training-registration/create">
            wajlk</button>
        </div> -->
        <div class="panel-body">
            <table class="table-latitude">
                <thead>
                    <th>#</th>
                    <th>participant</th>
                    <th>registration Date</th>
                    <th>training Session</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let trainingRegistration of trainingRegistrations">
                        <td>{{ trainingRegistration.id }}</td>
                        <td>{{ trainingRegistration.participant.name }}</td>
                        <td>{{ trainingRegistration.registrationDate | date }}</td>
                        <td>{{ trainingRegistration.trainingSession.title }}</td>


                        <td>
                            <a style="cursor: pointer;" (click)="deny(trainingRegistration.id)"
                                title="Edit"><i class="fa fa-close"></i></a> &nbsp;&nbsp;
                            <a (click)="accept(trainingRegistration.id)" style="cursor: pointer;" title="Delete"><i class="fa fa-check"></i></a>
                        </td>
                    </tr>

                    <tr *ngIf="trainingRegistrations?.length === 0">
                        <td colspan="6" class="text-center">No company data available.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>