<!-- show-company.component.html -->

<div class="container" class="w-full surface-card py-8 px-5 sm:px-8">
    <div class="panel panel-default">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">Training Registration</div>
        </div>
        <div class="panel-heading mb-2">
            <button type="button" pButton pRipple label="New Registration"
                routerLink="/dashboard/training-registration/create"></button>
        </div>
        <div class="panel-body">
            <table class="table-latitude">
                <thead>
                    <th>registration Date</th>
                    <th>training Session</th>
                    <th>company</th>
                    <th>trainer</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let company of trainingRegisterData">
                        <td>{{ company.registrationDate | date }}</td>
                        <td>{{ company.trainingSession.title }}</td>
                        <td>{{ company.trainingSession.companyRes.name }}</td>
                        <td>{{ company.trainingSession.trainerResponseDto.name }}</td>


                        <td>
                            <a style="cursor: pointer;" routerLink="/dashboard/training-registration/edit/{{company.id}}"
                                title="Edit"><i class="pi pi-pencil"></i></a> &nbsp;&nbsp;
                            <a style="cursor: pointer;" title="Delete"><i class="pi pi-trash"></i></a>
                        </td>
                    </tr>

                    <tr *ngIf="trainingRegisterData?.length === 0">
                        <td colspan="6" class="text-center">No company data available.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>