<!-- show-trainer.component.html -->

  <div class="container" class="w-full surface-card py-8 px-5 sm:px-8">
    <div class="panel panel-default">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium m-3">
                <h1>Trainer Data</h1>
            </div>
        </div>
        <div class="panel-heading mb-2">
            <button type="button" pButton pRipple label="Add Trainer" class="btn btn-primary mb-3" routerLink="/dashboard/trainer/add"></button> 
        </div>
        <div class="panel-body">
            <table class="table-latitude">
                  <thead>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Remarks</th>
                      <th>Skills</th>
                      <th>Action</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let trainer of trainers">
                        <td>{{ trainer.name }}</td>
                        <td>{{ trainer.email }}</td>
                        <td>{{ trainer.remarks }}</td>
                        <td>
                            <span *ngFor="let skill of trainer.skills">
                              {{ skill.name }} ,
                            </span>
                        </td>
                        <td>
                            <a style="cursor: pointer;" routerLink="/dashboard/trainer/edit/{{trainer.id}}" title="Edit"><i class="fa fa-pencil" ></i></a> &nbsp;&nbsp;
                            <a style="cursor: pointer;" (click)="deleteData(trainer.id)" title="Delete"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>

                    <tr *ngIf="trainers?.length === 0">
                      <td colspan="4" class="text-center">No trainer data available.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
  