<div>
    <div>
        <div class="w-full surface-card py-8 px-5 sm:px-8">
            <a routerLink="/dashboard/companies"><i class="pi pi-arrow-left" style="font-size: 1.5rem"></i></a>
            <div class="text-center mb-5">
                <div class="text-900 text-3xl font-medium m-3">
                    <h1>Edit Company</h1>
                </div>
            </div>

            <div>
                <label for="name" class="block text-900 text-xl font-medium mb-2">ID</label>
                <input id="name" type="text" pInputText
                    class="form-control mb-3" style="padding:1rem" [(ngModel)]="company.id" disabled>

                <label for="name" class="block text-900 text-xl font-medium mb-2">Name</label>
                <input id="name" type="text" placeholder="Company Name" pInputText
                    class="form-control mb-3" style="padding:1rem" [(ngModel)]="company.name">

                <label for="email" class="block text-900 font-medium text-xl mb-2">Email</label>
                <input id="email" type="text" placeholder="Company Email" pInputText
                    class="form-control mb-3" style="padding:1rem" [(ngModel)]="company.address">

                <label for="phoneNumber" class="block text-900 font-medium text-xl mb-2">Phone Number</label>
                <input id="phoneNumber" type="text" placeholder="Company Phone Number"
                    pInputText class="form-control mb-3" style="padding:1rem" [(ngModel)]="company.phoneNumber">


                <label for="url" class="block text-900 font-medium text-xl mb-2">URL</label>
                <input id="url" type="text" placeholder="Company url" pInputText
                    class="form-control mb-3" style="padding:1rem" [(ngModel)]="company.url">

                <label for="address" class="block text-900 font-medium text-xl mb-2">Address</label>
                <input id="address" type="text" placeholder="Company Address" pInputText
                    class="form-control mb-3" style="padding:1rem" [(ngModel)]="company.email">


                <br>
                <button type="button" pButton pRipple class="btn btn-primary mb-3" (click)="update()">update</button>
            </div>
        </div>
    </div>
</div>