<div class="container">
    <div class="jumbotron">
        <div>
            <label>title : </label>
            <p>{{trainingSession.title}}</p>
        </div>

        <div>
            <label>hours : </label>
            <p>{{trainingSession.hours}}</p>
        </div>
        <div>
            <label>cost : </label>
            <p class="lead">{{trainingSession.cost}}</p>
        </div>

        <div>
            <label>objectives : </label>
            <p class="lead">{{trainingSession.objectives}}</p>
        </div>
        <div>
            <label>program : </label>
            <p class="lead">{{trainingSession.program}}</p>
        </div>
        <div>
            <label>startDate : </label>
            <p class="lead">{{trainingSession.startDate}}</p>
        </div>
        <div>
            <label>endDate : </label>
            <p class="lead">{{trainingSession.endDate}}</p>
        </div> 
         <div>
            <label>company : </label>
            <p class="lead">{{trainingSession.companyRes.name}}</p>
        </div>

        <div>
            <label>trainer : </label>
            <p class="lead">{{trainingSession.trainerResponseDto.name}}</p>
        </div>
        
        
        
        <!-- trainerResponseDto -->
        
        
        <a class="btn btn-lg btn-success" role="button" (click)="enroll()">Enroll</a>
    </div>

</div>